/*
	Drift by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 12em 0;
		background-image: url("images/overlay.png"), url("../images/memes/veyeta.jpg");
		background-attachment: scroll,						fixed;
	}

	#logodeusto{
		height: 8em; 
		width: 8em;
	}