{% extends "appSeguWeb/base.html" %}
{% load static %}
{% load i18n %}
	
{% block content %}
	<style>
		h1{
			text-align: center;
			color: white;
		}
		h2{
			text-align: center;
			color: white;
		}
		head{
			background-color: rgb(61, 60, 60);
		}
		body{
			background-color: rgb(61, 60, 60);
		}
		section{
			background-color: rgb(61, 60, 60);
		}
	</style>
	<section class="wrapper">
		<div class="container">
			<h1>{% translate 'Vaya...' %}</h1>
			<h1>{% translate 'Parece que no existe esa página...' %}</h1>
			<h2>{% translate 'Vuelve a la ' %}<a href="{% url 'index' %}">{% translate 'página principal' %}</a></h2>
		</div>
	</section>
	
</body>

{% endblock %}