{% extends "appSeguWeb/base.html" %}
{% load static %}
{% load i18n %}	

{% block content %}
	<!-- Main -->
	<section id="main" class="wrapper style1">
		<header class="major">
			<h2>{% trans '¿De qué va este experimento exactamente?' %}</h2>
			<p>{% trans 'Te explicamos los orígenes del proyecto, su función y su filosofía.' %}</p>
		</header>
		<div class="container">
			<!-- Content -->
			<section id="content">
				<img class="center" src="{% static 'appSeguWeb/images/experiment.png'%}" alt="" />
				<br />
				<h3>{% trans 'Motivación del proyecto' %}</h3>
				<p>{%blocktrans%}La motivación principal de este proyecto es la de concienciar a los estudiantes de su nivel y conocimientos actuales en lo que respecta la seguridad informática y la gestión de comunicaciones. Dada cierta base de confianza por parte del alumnado en correos y comunicados provenientes de diversas entidades de la universidad, la suplantación de Servicio Informático UD por un posible atacante el cual envía correos suficientemente sospechosos es un buen baremo para estimar el nivel de alerta general del cuerpo estudiantil a la hora de ataques de phishing.
{%endblocktrans%}
				</p>
				<p>{%blocktrans%}Anteriormente, ya se habían realizado estudios de este tipo enfocados únicamente al profesorado e investigadores de la universidad, pero nunca antes se había realizado de cara a los estudiantes de grado, master y doctorado.
{%endblocktrans%}
				</p>
				<h3>{% trans 'Función del proyecto' %}</h3>
				<p>{%blocktrans%}El proyecto busca ser un detonante inicial para que los estudiantes reflexionemos sobre la seguridad de la información de cada un@, mentalizar a los alumnos sobre diferentes posibles señales de alarma en correos falsos y similares. Una vez obtenidos los resultados del experimento, también se pretende observar si realmente los estudiantes suponemos un vector de ataque a los sistemas de la universidad. Y, si realmente lo somos, se propondrían unas charlas informativas acerca de diferentes buenas prácticas e información general.
{%endblocktrans%}
				</p>
				<p>{%blocktrans%}En resumen, este proyecto tiene la labor de sensibilizar a la comunidad estudiantil acerca de la importancia de la seguridad digital y realizar un estudio de la situación actual.
{%endblocktrans%}
				</p>
				<h3>{% trans '¿Qué se ha hecho exactamente?' %}</h3>
				<p>{%blocktrans%}El proyecto constaba de tres partes fundamentales: (1) un dominio desde el cual enviar los correos y hostear la página que estás viendo ahora mismo, (2) una lista de correos de estudiantes para realizar el experimento en sí (esta lista de correos está totalmente anonimizada y en ningún momento sabemos quién visita la página) y (3) una serie de correos destinados a distintos grupos de correos de dicha lista con diferentes niveles de sofisticación (unos correos más currados que otros a fin de cuentas).
{%endblocktrans%}
				</p>
				<img id="imgSMTP" class="center" src="{% static 'appSeguWeb/images/explicasao.png'%}" alt="" />
				<br />
				<p>{%blocktrans%}Los distintos tipos de correos enviados redirigen todos a esta página de landing para poder recoger cuántas visitas únicas obtenemos y así poder publicar datos estadísticos al respecto una vez terminada la campaña.
{%endblocktrans%}
				</p>
				<h3>{% trans '¿De dónde ha salido este proyecto?' %}</h3>
				<p>{%blocktrans%}Originalmente, todo esto iba a ser un proyecto nuestro para la asignatura de Seguridad de la Información que tenemos los informáticos, asignatura impartida por Iker Pastor López, integrante fundamental de este proyecto para su realización y sin el cual no podríamos haber llevado adelante este trabajo. La idea original consistía en evaluar, desde el punto de vista de un atacante, la viabilidad de una intrusión en los sistemas de la Universidad de Deusto con un nivel información y conocimiento mínimos acerca de las direcciones de correo de Deusto.
{%endblocktrans%}
				</p>
				<p>{%blocktrans%}El proyecto consistía en coger uno de los censos que el Ayuntamiento de Bilbao <a href="https://liburutegibiltegi.bizkaia.eus/handle/20.500.11938/80403" target="_blank">tiene públicos en su página web</a> para obtener varios apellidos comunes en la zona de Bilbao (donde se presupone que habrá más estudiantes de Deusto...). Lo siguiente sería conseguir un par de listas de top-10 nombres en euskara y en español para combinar con esos apellidos y, así, tener distintas direcciones de correo ficticias que podrían o no existir actualmente en los sistemas de Deusto pertenecientes a integrantes de la universidad (profesores, estudiantes y otros).
{%endblocktrans%}
				</p>
				<p>{%blocktrans%}Esas direcciones de correo ficticias se modificarían para satisfacer diferentes posibles formatos (nombre.apellido, nombreapellido...) y así poder abarcar un mayor rango de posibilidades a la hora de acertar con las direcciones de correo. Y, una vez obtenidas las listas de direcciones de correo,proseguiríamos con el experimento de la misma manera que hemos realizado este (dominio desde el cual enviar correos, generar la página web, etc.).
{%endblocktrans%}
				</p>
				<img id="correosPNG" class="center" src="{% static 'appSeguWeb/images/correos.png'%}" alt="" />
				<br />
				<p>{%blocktrans%}Esta primera versión del proyecto tiene varios inconvenientes:{%endblocktrans%}
				</p>
				<ul>
					<li>{%blocktrans%}Al estar organizando esto desde "fuera" de la universidad, por nuestra cuenta, estaríamos dañando la imagen de la universidad al realizar un ataque de este tipo.{%endblocktrans%}</li>
					<br />
					<li>{%blocktrans%}Si lo hubiéramos organizado por nuestra cuenta, aquellos a los que les llegara el correo no tendrían ningún tipo de confianza en nosotros solo por el simple hecho de que seamos estudiantes haciendo un trabajo. No todo el mundo en la universidad nos conoce y, por lo tanto, esta crisis de confianza podría generar bastantes dolores de cabeza a dirigentes de la universidad con multitud de personas preguntando sobre "¿¿¿Por qué me acaban de atacar??? ¿¿¿Qué está pasando??? ¿¿Han robado mis datos???".{%endblocktrans%}</li>
					<br />
					<li>{%blocktrans%}La propia tarea de preparar un servidor de hosteo para la página web y un servidor de SMTP para los correos habría añadido considerable complejidad al proyecto y, a lo mejor, más partes móviles de las que hubiéramos sido capaces de manejar por nuestra cuenta para que funcionase todo a la perfección.{%endblocktrans%}</li>
				</ul>
				<div style="text-align: center;" class="img-container"><img src="{% static 'appSeguWeb/images/pwned.jpg'%}" alt="" /></div>
				<br />
				<p>{%blocktrans%}Gracias a la inestimable ayuda de nuestro profesor de Seguridad de la Información, Iker Pastor López, que sabiamente nos señaló estos inconvenientes y nos propuso realizar este mismo proyecto pero de forma coordinada y conjunta con el Servicio Informático. A Alberto Martinez, Garazi Artetxe y Oscar Meruelo, del Servicio Infomático, por su apoyo y ayuda a la hora de materializar este proyecto, así como a Lorena Fernández Álvarez (Directora de identidad digital de UD) para la posterior campaña en redes sociales.
{%endblocktrans%}
				</p>
			</section>
		</div>
	</section>
{% endblock %}
