<!DOCTYPE HTML>
{% load static %}
{% load i18n %}
<html>
	<head>
		<title> {{title}}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'appSeguWeb/js/jquery.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.dropotron.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.scrollgress.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.scrolly.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.slidertron.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/skel.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/skel-layers.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/init.js'%}"></script>

		<link rel="icon" type="img/css" href="{% static 'appSeguWeb/images/hack.ico' %}">
    
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" href="{% static 'appSeguWeb/css/skel.css'%}" />
		<link rel="stylesheet" href="{% static 'appSeguWeb/css/style.css'%}" />
		<link rel="stylesheet" media="screen and (min-width:900px)" href="{% static 'appSeguWeb/css/style-xlarge.css'%}" />
		<link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'appSeguWeb/css/style-xsmall.css'%}" />

		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
		<!-- <header id="header" class="alt skel-layers-fixed"> -->
		<header id="header" class="skel-layers-fixed">
			<div style="float: left;" class="navbar-header">
				<p class="navbar-brand" ><img class="resize" style="max-width: 20%; max-height: 20%;" src="{% static 'appSeguWeb/images/deusto-logo.png' %}"></p>
			</div>
			<nav id="nav">
				
				<ul style="float: right;">
					<li class="nav-item dropdown connection">
                        <a class="nav-link" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-language"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 " style="text-align: center">
                                        <button onclick="changeLanguage(this)" name="en" class="connection-item"><img src="{% static 'appSeguWeb/images/bandera_en.png' %}" alt="" ></button>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                        <button onclick="changeLanguage(this)" name="es" class="connection-item"><img src="{% static 'appSeguWeb/images/bandera_es.png' %}" alt="" ></button>
                                    </div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 " style="text-align: center">
                                        <button onclick="changeLanguage(this)" name="eu" class="connection-item"><img src="{% static 'appSeguWeb/images/bandera_eus.png' %}" alt="" ></button>
                                    </div>
                                </div>
                        </ul>
                    </li>
					<li><a href="{% url 'index'%}">Home</a></li>

				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<img class="resize" style="height: 5%; width: 5%;" src="{% static 'appSeguWeb/images/logodeusto.png'%}" alt="" />			
				<h2>{% translate '¡Te hemos pillado!' %}</h2>
				<p><strong>{% translate 'NoDeberiasVerEsto' %}</strong></p>
				<ul class="actions">
					<li><a href="#mejorasin" class="button big scrolly">{% translate '¿Qué es esto?' %}</a></li>
				</ul>
				</div>
		</section>

		<!-- Content -->
		<section id="mejorasin" class="wrapper style1">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<header class="major">
							<h2>{% translate 'Si estás en esta página...' %}</h2>
							<p>{%blocktranslate%}
								
								...significa que <mark>podrías haber caído presa de un ataque de phishing</mark> 
								proveniente de un atacante con peores intenciones que las nuestras.
								Organizado por el Servicio Informático de la Universidad de Deusto, esto no es más que 
								una <mark>prueba inofensiva</mark> cuyo objetivo es el de <mark>evaluar al colectivo 
								estudiantil</mark> como posible vector de ataque a los sistemas de la universidad 
								(Alud, Gaude, MyApps y demás plataformas...).
								<br /><br />
								En otras palabras, si estás leyendo esto, eso quiere decir que <mark>has pinchado 
								en el link de un correo</mark> que, en un principio, <mark>debería haber levantado ciertas 
								sospechas</mark>. Ahora mismo podrías estar viendo una réplica exacta de la página de 
								Alud, Gaude o cualquier otra plataforma de la universidad copiada por alguien 
								para, por ejemplo, <mark>hacerse con tus credenciales de inicio de sesión.</mark>
								<br /><br />
								¿Crees que habrías picado?
								{%endblocktranslate%}
								
							</p>
						</header>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<article class="box post">
							<a href="{% url 'phishing'%}" class="image fit"><img height="245px" src="{% static 'appSeguWeb/images/phishing.png'%}" alt="" /></a>
							<h3>{% translate '' %}¿Qué es un ataque de phishing?</h3>
							<p>
								{% translate '' %}Es uno de los ataques más comunes en torno a robo de credenciales, 
								cuentas... Seguro que te ha pasado más de una vez y no le diste demasiada 
								importancia.
							</p>
							<ul class="actions">
								<li><a href="{% url 'phishing'%}" class="button">¿Qué es?</a></li>
							</ul>
						</article>
					</div>
					<div class="col-md-4">
						<article class="box post">
							<a href="{% url 'experimento'%}" class="image fit"><img height="245px" src="{% static 'appSeguWeb/images/experiment.png'%}" alt="" /></a>
							<h3>{% translate '' %}¿De qué va este experimento exactamente?</h3>
							<p>
								{% translate '' %}Pincha aquí para saber más sobre esta iniciativa: de dónde viene, qué 
								función tiene y su filosofía...
							</p>
							<ul class="actions">
								<li><a href="{% url 'experimento'%}" class="button">{% translate '' %}¿De qué va?</a></li>
							</ul>
						</article>
					</div>
					<div class="col-md-4">
						<article class="box post">
							<a href="{% url 'otros-correos'%}" class="image fit"><img height="245px" src="{% static 'appSeguWeb/images/emails.png'%}" alt="" /></a>
							<h3>{% translate '' %}¿Qué otros correos hemos utilizado?</h3>
							<p>
								{% translate '' %}Echa un vistazo a los correos falsos que hemos utilizado para este 
								experimento. ¿En cuáles crees que habrías caído?
							</p>
							<ul class="actions">
								<li><a href="{% url 'otros-correos'%}" class="button">Ver correos</a></li>
							</ul>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 offset-md-4">
						<article class="box post">
							<a href="{% url 'memes'%}" class="image fit"><img height="245px" src="{% static 'appSeguWeb/images/memes/slavcheem.jpg'%}" alt="" /></a>
							<h4>{% translate '' %}Ya que estás aquí...</h4>
							<h3>{% translate '' %}¿Quieres ver memes?</h3>
							<ul class="actions">
								<li><a href="{% url 'memes'%}" class="button">{% translate '' %}Ver memes</a></li>
							</ul>
						</article>
					</div>
				</div>
				<header class="major">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<br />
							<h2>{% translate '' %}Antes de ir a compartir esto, ¡ESPERA!</h2>
							<p>
								{%blocktranslate%} Como te hemos explicado, <mark>nuestra intención con este experimento es concienciar</mark>. Por eso, cuanta más gente se
								encuentre con esta página de improviso después de pinchar en su correo, más importante será el efecto que tendrá.
								<br /><br />
								Por lo tanto, te pedimos por favor que <mark>antes de compartir esta página, esperes al lunes XX de marzo</mark>, día en el que
								publicaremos los resultados de esta campaña en nuestras redes sociales.
								<br /><br />
								Como colofón, porque sabemos que a todos nos gustan unos buenos memes, os dejamos los que hemos creado para esta
								campaña y que podrías haber visto en el encabezado de la página, si la sonrisa de Vegeta no hubiese demostrado ser
								el gancho perfecto.
								<br /><br />
								¡Gracias!
								{% endblocktranslate %}
							</p>
						</div>
					</div>
				</header>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/deusto" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/UDeusto/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/udeusto/?hl=es" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
			<ul class="menu">
				<li>{% translate 'cortesía' %}</li>
			</ul>
		</footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script type="text/javascript">
			var languages = ["en", "es", "eu"]
			function changeLanguage(element){
				var currentURLParameters = window.location.pathname.split("/");
				if (languages.includes(currentURLParameters[1])){
					currentURLParameters[1] = element.name;
					window.location = "http://127.0.0.1:8000" + currentURLParameters.join("/")
				}else{
					window.location = "http://127.0.0.1:8000/" + element.name + currentURLParameters.join("/")
				}
			}
		</script>
		
	</body>
</html>