<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'appSeguWeb/js/jquery.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.dropotron.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.scrollgress.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.scrolly.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.slidertron.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/skel.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/skel-layers.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/init.js'%}"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" href="{% static 'appSeguWeb/css/skel.css'%}" />
		<link rel="stylesheet" href="{% static 'appSeguWeb/css/style.css'%}" />
		<link rel="stylesheet" href="{% static 'appSeguWeb/css/style-xlarge.css'%}" />

		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
		<!-- <header id="header" class="alt skel-layers-fixed"> -->
		<header id="header" class="alt">
			<nav id="nav">
				<ul>
					<li><a href="{% url 'index'%}">Home</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>¡Te hemos pillado!</h2>
				<p><strong>No deberías estar aquí, ¡has caído víctima de un ataque de phishing!</strong></p>
				<ul class="actions">
					<li><a href="#mejorasin" class="button big scrolly">¿Qué es esto?</a></li>
				</ul>
			</div>
		</section>

		<!-- Content -->
		<section id="mejorasin" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Si estás en esta página...</h2>
					<p>
						...significa que <mark>podrías haber caído presa de un ataque de phishing</mark> <br />
						proveniente de un atacante con peores intenciones que las nuestras.<br />
						Organizado por el Servicio Técnico de la Universidad de Deusto, esto no es más que <br />
						una <mark>prueba inofensiva</mark> cuyo objetivo es el de <mark>evaluar al colectivo <br />
						estudiantil</mark> como posible vector de ataque a los sistemas de la universidad <br />
						(Alud, Gaude, MyApps y demás plataformas...).<br />
						<br />
						En otras palabras, si estás leyendo esto, eso quiere decir que <mark>has pinchado <br />
						en el link de un correo</mark> que, en un principio, <mark>debería haber levantado ciertas <br />
						sospechas</mark>. Ahora mismo podrías estar viendo una réplica exacta de la página de <br />
						Alud, Gaude o cualquier otra plataforma de la universidad copiada por alguien <br />
						para, por ejemplo, <mark>hacerse con tus credenciales de inicio de sesión.</mark><br />
						<br />
						¿Crees que habrías picado?
					</p>
				</header>
				<div class="slider">
					<span class="nav-previous"></span>
					<div class="viewer">
						<div class="reel">
							<div class="slide">
								<img class="center" src="{% static 'appSeguWeb/images/memes/bernie.jpg'%}" alt="" />
							</div>
							<div class="slide">
								<img class="center" src="{% static 'appSeguWeb/images/memes/brain.jpg'%}" alt="" />
							</div>
							<div class="slide">
								<img class="center" src="{% static 'appSeguWeb/images/memes/bugsbunny.jpg'%}" alt="" />
							</div>
							<div class="slide">
								<img class="center" src="{% static 'appSeguWeb/images/memes/goku\ smile.jpg'%}" alt="" />
							</div>
							<div class="slide">
								<img class="center" src="{% static 'appSeguWeb/images/memes/losperros.jpg'%}" alt="" />
							</div>
							<div class="slide">
								<img class="center" src="{% static 'appSeguWeb/images/memes/monoQMira.jpg'%}" alt="" />
							</div>
						</div>
					</div>
					<span class="nav-next"></span>
				</div>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style1">
			<div class="container">
				<div class="row">
					<!-- <div class="4u 6u(2) 12u$(3)"> -->
					<div class="col-md-4">
						<article class="box post">
							<a href="{% url 'left-sidebar'%}" class="image fit"><img height="245px" src="{% static 'appSeguWeb/images/phishing.png'%}" alt="" /></a>
							<h3>¿Qué es un ataque de phishing?</h3>
							<p>
								Es uno de los ataques más comunes en torno a robo de credenciales, 
								cuentas... Seguro que te ha pasado más de una vez y no le diste demasiada 
								importancia.
							</p>
							<ul class="actions">
								<li><a href="{% url 'left-sidebar'%}" class="button">¿Qué es?</a></li>
							</ul>
						</article>
					</div>
					<!-- <div class="4u 6u$(2) 12u$(3)"> -->
					<div class="col-md-4">
						<article class="box post">
							<a href="{% url 'no-sidebar'%}" class="image fit"><img height="245px" src="{% static 'appSeguWeb/images/experiment.png'%}" alt="" /></a>
							<h3>¿De qué va este experimento exactamente?</h3>
							<p>
								Pincha aquí para saber más sobre esta iniciativa: de dónde viene, qué 
								función tiene y su filosofía...
							</p>
							<ul class="actions">
								<li><a href="{% url 'no-sidebar'%}" class="button">¿De qué va?</a></li>
							</ul>
						</article>
					</div>
					<!-- <div class="4u$ 6u(2) 12u$(3)"> -->
					<div class="col-md-4">
						<article class="box post">
							<a href="{% url 'right-sidebar'%}" class="image fit"><img height="245px" src="{% static 'appSeguWeb/images/emails.png'%}" alt="" /></a>
							<h3>¿Qué otros correos hemos utilizado?</h3>
							<p>
								Echa un vistazo a los correos falsos que hemos utilizado para este 
								experimento. ¿En cuáles crees que habrías caído?
							</p>
							<ul class="actions">
								<li><a href="{% url 'right-sidebar'%}" class="button">Ver correos</a></li>
							</ul>
						</article>
					</div>
				</div>
				<header class="major">
					<br />
					<h2>Párrafo promocional de charlueta y NO NOS FUNEIS EL EXPE</h2>
					<p>
						Ipsum dolor tempus commodo turpis adipiscing adipiscing in tempor placerat<br />
						sed amet accumsan enim lorem sem turpis ut. Massa amet erat accumsan curae<br />
						blandit porttitor faucibus in nisl nisi volutpat massa mi non nascetur.
					</p>
					<br />
				</header>
			</div>
		</section>

		<!-- CTA -->
		<!-- <section id="cta" class="wrapper style3">
			<h2>Sed faucibus et consequat</h2>
			<ul class="actions">
				<li><a href="#" class="button big">Get Started</a></li>
			</ul>
		</section> -->

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<!--el de twitter se podria cambiar por el de deusto en vez de deustoing-->
				<li><a href="https://twitter.com/ingdeusto?lang=es" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/UDeusto/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/udeusto/?hl=es" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
			<!-- <ul class="menu">
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Contact</a></li>
			</ul> -->
			<ul class="menu">
				<li>Cortesía de Ander Eguíluz, Iratxe Campo, Asier Fernández de Lecea y Servicio Técnico UD</li>
			</ul>
		</footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>