<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'appSeguWeb/js/jquery.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.dropotron.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.scrollgress.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.scrolly.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.slidertron.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/skel.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/skel-layers.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/init.js'%}"></script>
		
		<link rel="stylesheet" href="{% static 'appSeguWeb/css/skel.css'%}" />
		<link rel="stylesheet" href="{% static 'appSeguWeb/css/style.css'%}" />
		<link rel="stylesheet" media="screen and (min-width:900px)" href="{% static 'appSeguWeb/css/style-xlarge.css'%}" />
		<link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'appSeguWeb/css/style-xsmall.css'%}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<nav id="nav">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
		<section id="main" class="wrapper style1">
			<header class="major">
				<h2>¿De qué va este experimento exactamente?</h2>
				<p>Te explicamos los orígenes del proyecto, su función y su filosofía.</p>
			</header>
			<div class="container">
				<!-- Content -->
				<section id="content">
					<img class="center" src="{% static 'appSeguWeb/images/experiment.png'%}" alt="" />
					<br />
					<h3>Motivación del proyecto</h3>
					<p>
						La otivación principal de este proyecto es la de concienciar a los 
						estudiantes de su nivel y conocimientos actuales en lo que respecta la 
						seguridad informática y la gestión de comunicaciones. Dada cierta base de 
						confianza por parte del alumnado en correos y comunicados provenientes de 
						diversas entidades de la universidad, la suplantación de Servicio Técnico 
						UD por un posible atacante el cual envía correos suficientemente 
						sospechosos es un buen baremo para estimar el nivel de alerta general del 
						cuerpo estudiantil a la hora de ataques de phishing.
					</p>
					<p>
						Anteriormente, ya se habían realizado estudios de este tipo enfocados 
						únicamente al profesorado e investigadores de la universidad, pero nunca 
						antes se había realizado de cara a los estudiantes de grado, master y 
						doctorado.
					</p>
					<h3>Función del proyecto</h3>
					<p>
						El proyecto busca ser un detonante inicial para que los estudiantes 
						reflexionemos sobre la seguridad de la información de cada un@, mentalizar 
						a los alumnos sobre diferentes posibles señales de alarma en correos 
						falsos y similares. Una vez obtenidos los resultados del experimento, 
						también se pretende observar si realmente los estudiantes suponemos un 
						vector de ataque a los sistemas de la universidad. Y, si realmente lo 
						somos, se propondrían unas charlas informativas acerca de diferentes 
						buenas prácticas e información general.
					</p>
					<p>
						En resumen, este proyecto tiene la labor de sensibilizar a la comunidad 
						estudiantil acerca de la importancia de la seguridad digital y realizar 
						un estudio de la situación actual.
					</p>
					<h3>¿Qué se ha hecho exactamente?</h3>
					<p>
						explicasao de la wea
					</p>
					<img class="center" src="{% static 'appSeguWeb/images/explicasao.png'%}" alt="" />
					<br />
					<p>
						explicasao de la wea
					</p>
				</section>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/ingdeusto?lang=es" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/UDeusto/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/udeusto/?hl=es" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
			<ul class="menu">
				<li>Cortesía de Ander Eguíluz, Iratxe Campo, Asier Fernández de Lecea y Servicio Técnico UD</li>
			</ul>
		</footer>

	</body>
</html>