<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{title}}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'appSeguWeb/js/jquery.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.dropotron.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.scrollgress.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.scrolly.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/jquery.slidertron.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/skel.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/skel-layers.min.js'%}"></script>
		<script src="{% static 'appSeguWeb/js/init.js'%}"></script>
		
		<link rel="icon" type="img/css" href="{% static 'appSeguWeb/images/phishing.ico' %}">
    
		<link rel="stylesheet" href="{% static 'appSeguWeb/css/skel.css'%}" />
		<link rel="stylesheet" href="{% static 'appSeguWeb/css/style.css'%}" />
		<link rel="stylesheet" media="screen and (min-width:900px)" href="{% static 'appSeguWeb/css/style-xlarge.css'%}" />
		<link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'appSeguWeb/css/style-xsmall.css'%}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<header id="header" class="skel-layers-fixed">
			<nav id="nav">
				<ul>
					<li><a href="{% url 'index' %}">Home</a></li>
					
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<section id="main" class="wrapper style1">
			<header class="major">
				<h2>¿Qué es un ataque de phishing?</h2>
				<p>
					Es uno de los ataques más comunes en torno a robo de credenciales, <br />
					cuentas... Seguro que te ha pasado más de una vez y no le diste demasiada <br />
					importancia.
				</p>
			</header>
			<div class="container">
				<div class="row 150%">
					<div>
						<!-- Content -->
						<section id="content">
							<a href="#" class="image fit"><img class="center" src="{% static 'appSeguWeb/images/phishing.png'%}" alt="" /></a>
							<h3>Phishing</h3>
							<p>
								Por definición, un ataque de phishing consiste en la adquisición de 
								información valiosa acerca de un sujeto pretendiendo ser alguien de 
								confianza. En este caso, nosotros hemos pretendido ser el Servicio Informático 
								UD pidiendo que revisaras tu cuenta y, de haber sido un atacante con 
								nefarias intenciones, habríamos replicado una de las páginas de la 
								universidad para conseguir tus credenciales.
							</p>
							<p>
								Si te fijas, la dirección de correo utilizada para enviar el mensaje no es 
								una de las que utiliza la universidad normalmente. No estamos diciendo que 
								deberíamos tener en mente en todo momento qué direcciones de correo 
								utiliza la universidad para cualquier cosa, pero tener una lista blanca 
								(<a href="https://www.lifewire.com/how-to-whitelist-a-sender-or-domain-in-gmail-1172106" target="_blank">
								whitelisting</a>) de direcciones de correo puede ser una buena práctica para 
								un correo empresarial futuro o similares.
							</p>
							<img class="center" src="{% static 'appSeguWeb/images/gugle2.gif'%}" alt="" />
							<br />
							<p>
								De la misma manera que nosotros hemos utilizado ese dominio (proporcionado 
								por Servicio Informático UD), se pueden comprar dominios los suficientemente 
								parecidos para pasar totalmente inadvertidos. ¿Crees que te darías cuenta 
								a la primera si, de repente, te empiezan a llegar correos de @desuto.es, 
								o @deusta.es?
							</p>
							<h3>Multitud de medios</h3>
							<p>
								Como tal, los ataques de phishing no se limitan solo a correos 
								empresariales u oficiales. Esta suplantación de identidad de entidades o 
								personas de confianza se puede realizar por medio de diferentes métodos de 
								comunicación:
							</p>
							<ul>
								<li>SMS</li>
								<li>Llamadas de teléfono</li>
								<li>Cartas por correo</li>
								<li>Encuestas por la calle</li>
								<li>Páginas web falsas (idénticas a las originales)</li>
								<li>...</li>
							</ul>
							<img class="center" src="{% static 'appSeguWeb/images/fotophishy2.jpeg'%}" alt="" />
							<br />
							<p>
								¿Alguna vez has recibido este tipo de mensaje al teléfono? ¿Estás cansad@ 
								de que te lleguen? Ahora, por lo menos, sabes cómo llamar a este tipo de 
								mensajes en los que, en algún momento, te vayan a pedir algún tipo de 
								información confidencial.
							</p>
							<p>
								Existen varios tipos de phishing: spear phishing (cuando se intenta atacar 
								a alguien en concreto, un CEO, por ejemplo), smishing (SMS phishing), 
								vishing (voice phishing)...
							</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/deusto" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/UDeusto/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/udeusto/?hl=es" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
			<ul class="menu">
				<li>Cortesía de Ander Eguíluz, Iratxe Campo, Asier Fernández de Lecea, 
					Iker Pastor López, Borja Sanz Urquijo, Lorena Fernández Álvarez y 
					todo el equipo de Servicio Informático UD</li>
			</ul>
		</footer>

	</body>
</html>